
@{
    Layout = "~/Views/Shared/NguoiDungLayOut.cshtml";
    ViewBag.Title = "Index";
}


<div id="main">
    <div class="section section-cover section-bg-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-fullscreen">
                        <div class="heli-word-slide">
                            Most
                            <span id="js-rotating">
                                creative,drawing,painting,exhibition
                            </span><br />
                            art for all kind<br />of life<br />
                            @*<a href="#" class="btn btn-rounded btn-bg-white mt-4"></a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="section bg-light">
        <div class="container">
            <div class="row">
                <div class="pt-6 pb-3 pr-2 pl-2 mtn-10 bg-white pull-left row">
                    <div class="col-sm-4">
                        <div class="feature-item style-2 mb-3">
                            <div class="feature-icon">
                                <div class="feature-icon-inner">
                                    <i class="pe-7s-anchor"></i>
                                </div>
                            </div>
                            <h4>WHO WE ARE</h4>
                            <div class="desc">
                                Institute of Fine Arts has been started by the two well-trained professionals who are one of the standard people in the field of animation and fine arts.
                            </div>
                            @*<a class="readmore" href="#"><span>Read More</span></a>*@
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-item style-2 mb-3">
                            <div class="feature-icon">
                                <div class="feature-icon-inner">
                                    <i class="pe-7s-notebook"></i>
                                </div>
                            </div>
                            <h4>WHAT WE DO</h4>
                            <div class="desc">
                                The procedures that they follow are they first conduct classes on paintings, animation, etc.
                            </div>
                            @*<a class="readmore" href="#"><span>Read More</span></a>*@
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-item style-2 mb-3">
                            <div class="feature-icon">
                                <div class="feature-icon-inner">
                                    <i class="pe-7s-bell"></i>
                                </div>
                            </div>
                            <h4>HOW WE WORK</h4>
                            <div class="desc">
                                We conduct competitions among the students, for which all the students must participate in these competitions. We will display the best paintings done by the students in the exhibitions
                            </div>
                            @*<a class="readmore" href="#"><span>Read More</span></a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <h1 class="pf-font fz-70 text-center dark italic fw-bolder letter-space-none mt-12">Shaping genaration of </h1>
                    <h5 class="fz-40 text-center dark mtn-2 mb-3">ARTIST. THINKERS. LEADERS.</h5>
                    <p class="text-center">
                        We believe in a disciplined approach that encourages students to develop their own styles, to blend talent, technical skills, creative aspirations and professional knowledge.
                    </p>
                    <img src="~/heli/images/1110x678.jpg" alt="" />
                   
                </div>
            </div>
        </div>
    </div>
  
    <div class="section pt-10 pb-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center mb-6">
                        <h2 class="section-title mb-3">OUR <b>WORK</b></h2>
                        <p>
                            Here we introduce to you our portfolio which includes our ambitious projects. These are the achievements of our creative and diligent work.<br />
                            Hope you will enjoy them.
                        </p>
                    </div>
                    <div class="tm-grid-wrapper" data-type="masonry" data-xs-columns="1" data-sm-columns="2" data-lg-columns="3" data-gutter="30">
                        <div class="tm-grid has-animation">
                            <div class="grid-sizer"></div>
                            <div class="portfolio-item grid-item masonry-item">
                                <div class="media">
                                    <img src="~/heli/images/main350x350-6.jpg" alt="" />
                                   
                                    <div class="overlay-wrapper">
                                        <div class="overlay"></div>
                                        <div class="popup">
                                            <div class="popup-inner">
                                                <a class="prettyphoto" data-rel="prettyPhoto[gallery]"  href="images/project/project_1920x700.jpg">
                                                    <i class="pe-7s-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h3><a href="portfolio-detail.html">Project Minimal</a></h3>
                                    <div class="cate"><a href="#">Branding</a></div>
                                </div>
                            </div>
                            <div class="portfolio-item grid-item masonry-item">
                                <div class="media">
                                    <img src="~/heli/images/main350x350-1.jpg" alt=""/>
                                    
                                    <div class="overlay-wrapper">
                                        <div class="overlay"></div>
                                        <div class="popup">
                                            <div class="popup-inner">
                                                <a class="prettyphoto" data-rel="prettyPhoto[gallery]" href="images/project/project_1920x700.jpg">
                                                    <i class="pe-7s-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h3><a href="portfolio-detail.html">Geometric Form</a></h3>
                                    <div class="cate"><a href="#">Branding</a></div>
                                </div>
                            </div>
                            <div class="portfolio-item grid-item masonry-item">
                                <div class="media">
                                    <img src="~/heli/images/main350x350-2.jpg" alt="" />
                                    
                                    <div class="overlay-wrapper">
                                        <div class="overlay"></div>
                                        <div class="popup">
                                            <div class="popup-inner">
                                                <a class="prettyphoto" data-rel="prettyPhoto[gallery]" href="~/heli/images/project/project_1920x700.jpg">
                                                    <i class="pe-7s-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h3><a href="portfolio-detail.html">Beautifully simple</a></h3>
                                    <div class="cate"><a href="#">Branding</a>, <a href="#">Print</a></div>
                                </div>
                            </div>
                            <div class="portfolio-item grid-item masonry-item">
                                <div class="media">
                                    <img src="~/heli/images/main350x350-3.jpg" alt=""/>
                                   
                                    <div class="overlay-wrapper">
                                        <div class="overlay"></div>
                                        <div class="popup">
                                            <div class="popup-inner">
                                                <a class="prettyphoto" data-rel="prettyPhoto[gallery]" href="~/heli/images/project/project_1920x700.jpg">
                                                    <i class="pe-7s-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h3><a href="portfolio-detail.html">Digital Mask</a></h3>
                                    <div class="cate"><a href="#">Branding</a>, <a href="#">Print</a></div>
                                </div>
                            </div>
                            <div class="portfolio-item grid-item masonry-item">
                                <div class="media">
                                    <img src="~/heli/images/main350x350-4.jpg" alt="" />
                                   
                                    <div class="overlay-wrapper">
                                        <div class="overlay"></div>
                                        <div class="popup">
                                            <div class="popup-inner">
                                                <a class="prettyphoto" data-rel="prettyPhoto[gallery]" href="~/heli/images/project/project_1920x700.jpg">
                                                    <i class="pe-7s-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h3><a href="portfolio-detail.html">Interior Design</a></h3>
                                    <div class="cate"><a href="#">Branding</a>, <a href="#">Print</a></div>
                                </div>
                            </div>
                            <div class="portfolio-item grid-item masonry-item">
                                <div class="media">
                                    <img src="~/heli/images/main350x350-5.jpg" alt="" />
                                  
                                    <div class="overlay-wrapper">
                                        <div class="overlay"></div>
                                        <div class="popup">
                                            <div class="popup-inner">
                                                <a class="prettyphoto" data-rel="prettyPhoto[gallery]" href="~/heli/images/project/project_1920x700.jpg">
                                                    <i class="pe-7s-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h3><a href="portfolio-detail.html">Industrial Design</a></h3>
                                    <div class="cate"><a href="#">Branding</a>, <a href="#">Print</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 text-center">
                        <a href="#" class="btn btn-rounded btn-bg-dark"><span>VIEW ALL EXHIBITIONS</span></a>
                    </div>
                </div>
            </div>
        </div>
   
</div>



