

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12">

                        @*<img src="~/heli/images/logo-home.jpg" alt="Heli" />
                            <img src="~/heli/images/logo.svg" alt="Heli" />*@
                        <div class="office">
                            <p><i class="pe-7s-call"></i> (61 2) 9251 5600 </p>
                            <p><i class="pe-7s-mail-open-file"></i> institute@gmail.com</p>
                            <p><i class="pe-7s-map-2"></i> No.200 Josecph, India 10020</p>
                        </div>
                        <div class="mb-5 d-block d-md-block d-lg-none"></div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        @*<h3 class="widget-title uppercase">Institute</h3>*@

                        <div class="mb-5 d-block d-md-block d-lg-none"></div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3 class="widget-title uppercase">News</h3>
                        <ul class="widget-recent-entries">
                            <li>
                                <a>Beautiful paintings</a>
                            </li>
                            <li>
                                <a>Design Process</a>
                            </li>
                            <li>
                                <a>A Little Journey</a>
                            </li>
                            <li>
                                <a>Powerful Workflow Tips</a>
                            </li>
                        </ul>
                        <div class="mb-5 d-block d-md-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        Made with <i class="pe-7s-like"></i> by <a target="_blank" href="#">art</a> -
                        Developed by <a target="_blank" href="#">Aptech</a>
                    </div>
                </div>
            </div>
        </div>
   