
<header class="header header-mobile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 col-md-10 col-lg-10 col-xl-10 pl-0">
                <div class="row">
                    <div class="site-branding">
                        <a class="normal_logo" href="./" rel="home">
                            <img src="~/heli/images/logo.svg" alt="Heli" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-2 header-column-icon-container">
                <div id="page-open-mobile-menu" class="page-open-mobile-menu dark d-lg-none">
                    <div><i></i></div>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- left menu -->

<header class="header header-left-menu d-none d-lg-block">
    <div class="page-header-inner">
        <div class="site-branding">
            <a class="normal_logo" href="./" rel="home">
                @*<img src="~/heli/images/LOGOHOMEpage.jpg" alt="Heli" />*@

            </a>
        </div>
        <nav class="main-navigation d-none d-lg-block">
            <div class="primary-menu">
                <ul class="main-menu">
                    <li class="menu-item-has-children mega-menu">
                        <a href="/HomePage/Index">Home</a>

                    </li>

                </ul>
            </div>
        </nav>
    </div>
</header>

<!-- left menu -->
<!-- mobile main menu -->

<div id="page-mobile-main-menu" class="page-mobile-main-menu">
    <div class="page-mobile-menu-header">
        <div class="page-mobile-menu-logo">
            <a href="./">
                <img src="~/heli/images/logo.svg" alt="" />
            </a>
        </div>
        <div id="page-close-mobile-menu" class="page-close-mobile-menu">
            <div><i></i></div>
        </div>
    </div>
    <ul class="mobile-menu">
        <li>
            <a href="/HomePage/Index">
                <span class="menu-item-title">Home</span>
            </a>
        </li>
        <li>
            <a href="/Gallery/Index">
                <span class="menu-item-title">Gallery</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="menu-item-title">Account</span>
                <span class="toggle-sub-menu"> </span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="/Login/Index">
                        <span class="menu-item-title">Login</span>
                    </a>
                </li>
                <li>
                    <a href="/Login/Logout">
                        <span class="menu-item-title">Logout</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</div>

<!-- mobile main menu -->