<!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="shortcut icon" href="~/heli/images/favicon.ico" />
    <title>Heli &#8211; Homepage 02 | Creative Multi-Purpose HTML Template</title>

    <link rel="stylesheet" href="~/heli/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/pe-icon-7-stroke.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/magnific-popup.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/owl.carousel.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/owl.theme.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/owl.transitions.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/prettyPhoto.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/animate.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/morphext.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/custom.css" type="text/css" media="all" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i%7CRaleway:100,200,300,400,500,600,700,800,900%7CDroid+Serif:400,400italic,700" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="noo-spinner">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
    <div class="search-form-container-full">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 offset-sm-3 search-wrap">
                    <div class="text-center middle">
                        <form class="search-form">
                            <input type="search" class="search-field" value="" name="s" placeholder="What are you searching for?" />
                            <button class="button-search">
                                <i class="pe-7s-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="side-box-container" class="sidr right">
        <div class="sidr-inner">
            <a href="#" class="button-side-box-close pe-7s-close"></a>
            <div class="side-box-inner">
                <div class="widget">
                    <h3 class="widget-title">About</h3>
                    <p>
                        Donec euismod sem ac urna finibus, sit amet efficitur erat tempus. Ut dapibus dictum turpis, vel faucibus erat posu ere vitae onec euismod sem ac urna finius sit ametvel faucibus erat posuere vitae.
                    </p>
                </div>
                <div class="widget">
                    <h3 class="widget-title">Useful Links</h3>
                    <ul>
                        <li><a href="about-us.html">About us</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="contact-us.html">Contact us</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="blog.html">Blog</a></li>
                    </ul>
                </div>
            </div>
            <ul class="side-box-social-list">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="site">

        @RenderPage("~/Views/Shared/HorizontalMenu.cshtml")

        @RenderBody();

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        <img src="~/heli/images/logo2.svg" alt="Heli" />
                        <div class="office">
                            <p><i class="pe-7s-call"></i> (61 2) 9251 5600 </p>
                            <p><i class="pe-7s-mail-open-file"></i> institute@gmail.com</p>
                            <p><i class="pe-7s-map-2"></i> No.200 Josecph, India 10020</p>
                        </div>
                        <div class="mb-5 d-block d-md-block d-lg-none"></div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <h3 class="widget-title uppercase">Institute</h3>
                        <ul class="menu">
                            <li><a href="about-us.html">About us</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="contact-us.html">Contact us</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="blog.html">Blog</a></li>
                        </ul>
                        <div class="mb-5 d-block d-md-block d-lg-none"></div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3 class="widget-title uppercase">News</h3>
                        <ul class="widget-recent-entries">
                            <li>
                                <a href="blog-detail.html">Beautiful paintings</a>
                            </li>
                            <li>
                                <a href="blog-detail.html">Design Process</a>
                            </li>
                            <li>
                                <a href="blog-detail.html">A Little Journey</a>
                            </li>
                            <li>
                                <a href="blog-detail.html">Powerful Workflow Tips</a>
                            </li>
                        </ul>
                        <div class="mb-5 d-block d-md-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        Made with <i class="pe-7s-like"></i> by <a target="_blank" href="#">art</a> -
                        Developed by <a target="_blank" href="#">Aptech</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a id="backtotop" class="fa fa-angle-up circle" href="javascript:void(0)"></a>

    <!-- LOAD JQUERY LIBRARY -->
    <script src="~/heli/js/jquery.min.js"></script>
    <script src="~/heli/js/jquery-migrate.min.js"></script>
    <script src="~/heli/js/bootstrap.min.js"></script>
    <script src="~/heli/js/modernizr-2.7.1.min.js"></script>
    <script src="~/heli/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/heli/js/isotope.pkgd.min.js"></script>
    <script src="~/heli/js/packery-mode.pkgd.min.js"></script>
    <script src="~/heli/js/jquery.justifiedGallery.min.js"></script>
    <script src="~/heli/js/jquery.isotope.init.js"></script>
    <script src="~/heli/js/jquery.sidr.min.js"></script>
    <script src="~/heli/js/jquery.countTo.js"></script>
    <script src="~/heli/js/owl.carousel.min.js"></script>
    <script src="~/heli/js/jquery.prettyPhoto.js"></script>
    <script src="~/heli/js/headroom.min.js"></script>
    <script src="~/heli/js/jQuery.headroom.js"></script>
    <script src="~/heli/js/morphext.min.js"></script>
    <script src="~/heli/js/bootstrap-progressbar.min.js"></script>
    <script src="~/heli/js/waypoints.min.js"></script>
    <script src="~/heli/js/script.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
